/* Font Selector Dropdown */
#font-selector {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    font-size: 16px;
    padding: 5px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

@font-face {
     font-family: 'Open Sans';
     src: url('fonts/open-sans-v40-latin-regular.woff2') format('woff2'),
          url('fonts/open-sans-v40-latin-regular.woff') format('woff');
     font-weight: 400;
     font-style: normal;
   }
   